---
---

@import "mixins/flexbox";
@import "mixins/transform";
@import "mixins/media-object";

@import "main/vars";
@import "main/breakpoints";

$color-background-highlight: lighten($color-background, 7%);

.consulting__subtitle {
  display: block;
  font-size: 1.25rem;
  font-style: italic;
}

.consulting {
  strong {
    background-color: $color-background-highlight;
  }
}
