/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

strong {font-weight: bold;}

em { font-style: italic;}

/**
 * Bits and bobs
 **/

pre, code, kbd, samp { font-family: monospace, sans-serif; font-size: 14px; }

a:hover, a:active { outline: none; }

td { vertical-align: top; }

.ie7 img { -ms-interpolation-mode: bicubic; }


/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/

/*	Typography presets
	------------------	*/

html {
  background: #fff url(/images/background.png) 50% 0 repeat;
}

body, input, textarea {
  font-family: Arial, “Helvetica Neue”, Helvetica, sans-serif;
}

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
  font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
	font-size: 42px;
	line-height: 56px;
	letter-spacing: -1px;
}

.large, h2 {
  font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 4px;
}

.big, h3 {
	font-size: 22px;
	line-height: 33px;
}

.normal, body {
	font-size: 14px;
	line-height: 21px;
}

.small, time {
	font-size: 12px;
	line-height: 18px;
}

p, ul, ol {
  margin-top: 27px;
  margin-bottom: 27px;
}

blockquote {
  border-left: 8px solid #eee;
  border-left-color: rgba(0,0,0,.06);
  padding-left: 20px;
  margin-top: 27px;
  margin-bottom: 27px;
}

  blockquote p, em {
    font-style: italic;
  }
  
  blockquote cite {
    color: #666;
  }
  
a {
  color: #c5242b;
  text-decoration: none;
}

  a:hover {
    color: #ff2f38;
  }
  
.permalink {
  color: #333;
}

  .permalink:hover {
    color: #000;
  }
  
time {
  color: #777;
}

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

body {
	padding: 24px 60px 0;
	width: 648px;
	-webkit-tap-highlight-color: rgb(167,229,255);
  margin: 0 auto;
}

header.top {
  margin-bottom: 48px;
}

h1, h1 a {
  display: block;
  width: 180px;
  height: 77px;
}

h1 a {
  background: url(/images/logo.png) 0 0 no-repeat;
}

article {
  position: relative;
  overflow: visible;
  border-bottom: 12px solid #f0f0f0;
  border-bottom: 12px solid rgba(0,0,0,0.03);
  margin-bottom: 24px;
}

time {
  position: absolute;
  left: -84px;
  top: 0;
  width: 60px;
  text-align: center;
  background-color: rgba(0,0,0,.03);
  -webkit-transition-property: background;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  border-radius: 5px;
}

a:hover time {
  background-color: rgba(167,229,255,.2);
}

time span {
  display: block;
}

  .date {
    font-size: 42px;
    line-height: 42px;
    color: #333;
    font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
  }

  .month {
    font-size: 20px;
    font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
    line-height: 20px;
    color: #999;
  }
  
  .year {
    font-size: 10px;
    line-height: 16px;
    color: #aaa;
    
  }

.content {
  margin-left: 84px;
}

footer {
  padding-bottom: 36px;
  margin-left: 84px;
}

  footer p {
    margin: 0 0 12px 0;
  }
  
  footer .tagline {
    color: #333;
    position: relative;
    left: -.85em;
    font: italic 20px Cambria, Georgia, Times, “Times New Roman”, serif;
    margin-bottom: 12px;
  }
  
  footer .tagline span {
    color: #ff2f38;
    font-size: 32px;
    position: relative;
    top: 6px;
  }
  
.portrait {
  border: 1px solid #eee;
  width: 120px;
  height: 120px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.15);
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);  
}

  footer .portrait {
    float: right;
    margin: 0 0 0 15px;
    position: relative;
    top: -36px;
  }

  .portrait img {
    border: 10px solid #fff;
    display: block;
  }
  
::selection 	 	{background: rgb(167,229,255);}
::-moz-selection 	{background: rgb(167,229,255);}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	body {
		padding: 24px 72px 0;
		width: 1068px;
	}
	
	.content {
	  width: 648px;
	  float: left;
	  margin-right: 24px;
	}
	
	footer {
	  width: 272px;
	  float: left;
	  margin-left: 0;
	  padding: 20px;
	  background-color: rgba(0,0,0,.03);
	  border-radius: 5px;
	}
	
	  footer .tagline {
	    left: 0;
	    position: relative;
	    font-size: 20px;
	    margin-bottom: 20px;
	  }
	  
	  footer .tagline span {
	    font-size: 28px;
	    position: absolute;
	    left: -.5em;
	    top: -.2em;
	  }
	  
	  footer .portrait {
	    top: 0;
	  }
	  
	  footer p {
	    font-size: 12px;
	  }
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	body {
		padding: 60px 42px 0;
		width: 396px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%; 
	}
	
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	body {
		padding: 48px 46px 0;
		width: 228px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}
	
}

/**
 * Helper classes 
 **/
 
.ir { 
  display: block; 
  text-indent: -999em; 
  overflow: hidden; 
  background-repeat: no-repeat; 
  text-align: left; 
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
