@import "mixins/flexbox";

@mixin media-object() {
  @include flexbox();
  align-items: flex-start;
}

@mixin media-figure($margin) {
  margin-right: $margin;
}

@mixin media-figure-right($margin) {
  @include order(1);
  margin-left: $margin;
}

@mixin media-body() {
  @include flex(1);
}
