@import "mixins/flexbox";

@mixin media-object() {
  @include flexbox();
  @include align-items(flex-start);
}

@mixin flag-object() {
  @include flexbox();
  @include align-items(center);
}

@mixin media-figure($margin) {
  margin-right: $margin;
}

@mixin media-figure-right($margin) {
  @include order(1);
  margin-left: $margin;
  margin-right: 0 !important;
}

@mixin media-body() {
  @include flex(1);
}
