---
layout: page
title: Jim Newbery
subtitle: Front-end strategy and implementation for growing web products
description: >-
  I help UK web product companies build and maintain great front-end applications
classes: consulting
nohireme: true
twitter_card:
  type: summary
  image: /images/consulting/card.jpg
og_data:
  image: /images/consulting/card.jpg
hero:
  src: /images/home/growing-hero.jpg
  alt: Seedlings growing
  caption: Photo
  credit:
    name: Markus Spiske
    url: https://unsplash.com/photos/vrbZVyX2k4I
redirect_from:
  - /consulting/
---

<h2>Positioning statement</h2>
<h2>Results</h2>
<h2>I can help if...</h2>
<h2>Lead magnet opt-in</h2>

<h2>What people are saying</h2>

{% assign testimonials = site.testimonials | sort: 'order' %}
{% for testimonial in testimonials %}
  {% include testimonial.html
    name=testimonial.name
    title=testimonial.title
    company=testimonial.company
    image=testimonial.image
    content=testimonial.content
  %}
{% endfor %}

<h2>Mini case study</h2>
<h2>Complementary call opt-in</h2>
<h2>(Articles)</h2>
