---
layout: page
title: Jim Newbery
subtitle: Front-end web coach and consultant
description: >-
  I help B2B SaaS product teams build profitable and sustainable web applications
classes: consulting
twitter_card:
  type: summary
  image: /images/consulting/card.jpg
og_data:
  image: /images/consulting/card.jpg
redirect_from:
  - /consulting/
  - /consulting.html
---

<div class="hero bg--cog outside">
  <h2 class="hero__subtitle">Front-end web consultant and coach</h2>
  <h1 class="hero__title">I help B2B SaaS product teams build profitable and sustainable web applications</h1>
</div>

<div class="media mtb2">
  <div class="media__image">
    <img class="avatar avatar--small" src="/images/main/avatar2018.jpg" alt="Jim Newbery">
  </div>
  <div class="media__content">
    <h2 class="mt0 align-left">Hi, I'm Jim Newbery. I can help if you are...</h2>
    <ul class="list list--ticks">
      <li>a SaaS product company with a B2B focus</li>
      <li>growing quickly and struggling to drive your product forward</li>
      <li>uncertain how to deliver on your product vision</li>
      <li>worried about increasing churn</li>
      <li>faced with a pile of front-end tech debt</li>
      <li>interested in working with a specialist with over 20 years experience</li>
    </ul>
  </div>
</div>

{% include turing-optin.html %}

<hr class="mtb2">

<h2>What people are saying...</h2>

{% assign testimonials = site.testimonials | sort: 'order' %}
{% for testimonial in testimonials limit:1 %}
  {% include testimonial.html
    name=testimonial.name
    job_title=testimonial.job_title
    company=testimonial.company
    image=testimonial.image
    content=testimonial.content
  %}
{% endfor %}

<hr class="mtb2">

<div class="panel media outside">
  <div class="media__image">
    <img src="/images/consulting/freeagent-colour.svg" alt="FreeAgent logo" class="media__logo">
  </div>
  <div class="media__content">
    <h2 class="mt0 align-left">FreeAgent needed a shared vision for web app development</h2>
    <p>After becoming a public company in 2016, FreeAgent had ambitious growth and expansion plans for their accounting SaaS product. To grow the team efficiently, they needed a shared approach for developing web applications across multiple product teams.</p>
    <p>I worked with the management team, software engineers, product managers and designers to develop a comprehensive front-end development approach, which is now being rolled out across the organisation.</p>
  </div>
</div>

<hr class="mtb2">

<h2>Would you like my help?</h2>

<p>Let's do it! I offer my most popular coaching and strategic consultancy services as guaranteed, low-risk, fixed price packages so you know exactly what you'll be getting.</p>

<p><em>Starting at £225 for a strategy call</em>. <a href="/services/">View all  packages</a></p>

<hr class="mtb2">

<div class="measure--narrow">
  <h2>Why Jim?</h2>

  <ul class="list list--bullets list--spaced">
    <li>I have over <strong>20 years of web development</strong> experience for SaaS startups, consumer giants and government departments.</li>
    <li>As the <strong>Director of Front-End Engineering</strong> at FanDuel, I helped grow the company to a valuation of over <strong>USD$1 billion</strong>.</li>
    <li>I shaped cross-platform and technical web strategy to transform FanDuel from MVP into a <strong>slick multi-channel entertainment experience</strong>.</li>
    <li>I have hired, grown, led and coached many web product teams over the years.</li>
    <li>I'm familiar with the challenges experienced by growing SaaS companies. I can help your company as you tread this path.</li>
  </ul>
</div>
