---
layout: default
---

{% for post in site.posts %}
  <article class="post">
    <header>
      <a href="{{ post.url }}" class="permalink post-link">
        <h1 class="post-heading">{{ post.title }}</h1>
        <time class="post-updated" datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>
          <span class="date">{{ post.date | date: "%-d" }}</span>
          <span class="month">{{ post.date | date: "%B"}}</span>
          <span class="year">{{ post.date | date: "%Y" }}</span>
        </time>
      </a>
    </header>
    <p class="post-body">
      {{ post.description }}
    </p>
    <footer class="post-footer">
      <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comments</a>
      |
      <a href="{{ post.url }}" title="{{ post.title }}">Permalink</a>
    </footer>
  </article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

{% include ebook.html %}
