.intro,
.callout {
  margin-bottom: $vertical-unit;
  padding-bottom: 1px;
  padding-top: $vertical-unit;
}

.intro {
  border-top: 5px solid rgba(0,0,0,.2);
  box-shadow: 0 -20px 0 0 rgba(0,0,0,.2);
  background-color: $color-link-water;
}

.callout {
  text-align: center;
}

.callout-light {
  background-color: $color-link-water;
}

.callout-dark {
  background-color: $color-deep-background;
  color: $color-deep-text;
}

.callout-buy {
  padding-top: (2 * $vertical-unit);
  padding-bottom: $vertical-unit;
}

.intro-text,
.callout-text {
  font-size: 1.25rem;
  text-align: center;

  @include breakpoint-up($phablet) {
    font-size: 1.5rem;
  }

  @include breakpoint-up($tablet) {
    font-size: 1.75rem;
  }
}
