.intro,
.callout {
  box-shadow: inset 0 0 30px rgba(0,0,0,.13);
  margin-bottom: $vertical-unit;
  padding-bottom: 1px;
  padding-top: $vertical-unit;
}

.intro {
  background-color: darken($color-background, 2%);
}

.callout {
  text-align: center;
}

.callout-light {
  background-color: rgba($color-secondary, .25);
  color: $mirage;
}

.callout-dark {
  background-color: $mirage;
  color: $nearly-white;
}

.callout-buy {
  padding-top: (2 * $vertical-unit);
  padding-bottom: $vertical-unit;
}

.intro-text,
.callout-text {
  font-size: 1.25rem;
  text-align: center;

  @include breakpoint-up($phablet) {
    font-size: 1.5rem;
  }

  @include breakpoint-up($tablet) {
    font-size: 1.75rem;
  }
}
