$bullet-size-base: 2rem;

.feature-list {
  list-style: none;
  padding-left: 0;

  > li {
    overflow: visible;
    margin-bottom: $vertical-unit;
    padding-left: $bullet-size-base + $gutter / 3;
    position: relative;

    &::before {
      background: transparent url(/images/landing/tick.svg) 0 0 no-repeat;
      background-size: $bullet-size-base;
      content: " ";
      display: block;
      height: $bullet-size-base;
      left: 0;
      position: absolute;
      top: 0;
      width: $bullet-size-base;
    }
  }
}
