.label {
  font-size: .8rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: .2rem;
}

.label--light {
  color: white;
}

.field {
  appearance: none;
  border: none;
  display: block;
  margin-bottom: $vertical-unit;
  font-size: 1.2rem;
  padding: 1rem;
  transition: background-color $transition-time;
  width: 100%;
}

.field-group__input--light {
  background-color: rgba(255,255,255,.9);

  &:focus {
    background-color: white;
  }
}
