.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  text-align: center;
}

.section {
  padding-top: $vertical-unit;
  @include breakpoint-up($phablet) {
    margin-bottom: $vertical-unit;
  }
}

.row {
  @include clearfix();
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.column-container {
  @include clearfix();
}

.column-left,
.column-right {
  @include breakpoint-up($tablet) {
    float: left;
    width: 50%;
  }
}

.column-left {
  @include breakpoint-up($tablet) {
    padding-right: ($gutter/2);
  }
}

.column-right {
  @include breakpoint-up($tablet) {
    padding-left: ($gutter/2);
  }
}
