.header {
  background-color: $color-deep-background;
  background-image:
    url(/images/landing/book.svg),
    url(/images/landing/cogs.svg);
  background-position:
    left 50% bottom -9.375rem,
    left 50% bottom -2.8rem;
  background-repeat: no-repeat;
  background-size:
    17.5rem,
    150%;
  color: $color-deep-text;
  padding-bottom: 18.75rem;
  padding-top: 2rem;

  @include breakpoint-up($phablet) {
    background-size:
      20rem,
      auto;
    background-position:
      left 50% bottom -10rem,
      left 50% bottom -6rem;
    padding-bottom: 22rem;
  }
}

.header-intro {
  color: $color-deep-text-secondary;
  font-size: 1.125rem;
  text-align: center;

  @include breakpoint-up($phablet) {
    font-size: 1.5rem;
  }
}
