.header {
  background-color: $color-deep-background;
  background-image: url(/images/landing/cogs.svg);
  background-position: left 50% bottom 20px;
  background-repeat: no-repeat;
  background-size: 800px;
  color: $color-deep-text;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 2rem;
  text-align: center;

  @include breakpoint-up($phablet) {
    background-size: 800px;
    background-position: left 50% bottom 20px;
    padding-top: 3rem;
  }

  @include breakpoint-up($tablet) {
    background-size: 1000px;
    background-position: left 50% bottom -100px;
    padding-top: 4rem;
  }
}

.header-intro {
  color: $color-deep-text-secondary;
  font-size: 1.125rem;
  text-align: center;

  @include breakpoint-up($phablet) {
    font-size: 1.5rem;
  }

  @include breakpoint-up($tablet) {
    font-size: 1.75rem;
  }
}

.header-book-cover {
  display: block;
  margin-bottom: -2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  top: 5rem;
  width: 85%;

  @include breakpoint-up($phablet) {
    margin-bottom: -5rem;
    width: 75%;
  }
}
