.header {
  background-color: $color-deep-background;
  background-image:
    url(/images/landing/book.svg),
    url(/images/landing/cogs.svg);
  background-position:
    left 50% bottom -150px,
    50% 67%;
  background-repeat: no-repeat;
  background-size:
    280px,
    auto;
  color: $color-deep-text;
  padding-bottom: 300px;
  padding-top: 2rem;
}

.header-intro {
  color: $color-deep-text-secondary;
  font-size: 1.125rem;
  text-align: center;
}
