.intro {
  background-color: darken($color-background, 2%);
  box-shadow: inset 0 0 30px rgba(0,0,0,.13);
  margin-bottom: 1.5rem;
  padding-bottom: 1px;
  padding-top: 1.5rem;
}

.intro-text {
  font-size: 1.125rem;
  text-align: center;
}
