hr {
  border: 1px solid $silver-sand;
  border-bottom-width: 0;
  margin: $vertical-unit auto;
  text-align: center;
  width: 50%;

  &:before {
    background: $color-background url(/images/landing/cog.svg) 50% 50% no-repeat;
    background-size: 36px 36px;
    content: " ";
    display: block;
    height: 36px;
    margin: -18px auto 0;
    width: 44px;
  }
}
