h1, h2, h3, h4, h5, h6, p, ul {
  margin-bottom: $vertical-unit;
  margin-top: 0;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;

  @include breakpoint-up($phablet) {
    font-size: 3.25rem;
    letter-spacing: .015em;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.3;

  @include breakpoint-up($phablet) {
    font-size: 2.5rem;
  }
}

p, li {
  font-size: 1rem;

  @include breakpoint-up($phablet) {
    font-size: 1.25rem;
    letter-spacing: -.02em;
  }
}

ul {
  list-style: square outside;
  padding: 0 0 0 $gutter/2;
}

li {
  margin-bottom: $vertical-unit;
}
