h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.33rem;
  margin-top: 0;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  line-height: 1.33;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}
