// Colours
$bondi-blue: #0B90B5;
$turquoise-blue: #6DCEE8;
$mirage: #1C2B31;
$cape-cod: #393D3E;
$nearly-white: #FDFDFD;
$silver-sand: #BDC1C3;

$color-primary: $bondi-blue;

$color-secondary: $turquoise-blue;
$color-secondary-light: lighten($color-secondary, 18%);

$color-text: $cape-cod;
$color-background: $nearly-white;

$color-deep-background: $cape-cod;
$color-deep-text: $nearly-white;
$color-deep-text-secondary: $silver-sand;

$color-link-text: $bondi-blue;

// Measures

$gutter: 2rem;
$vertical-unit: 1.5rem;

// Breakpoints

$phablet: 35rem;
