$color-text: rgb(57, 61, 62);
$color-background: rgb(253, 253, 253);

$color-deep-background: rgb(28, 43, 39);
$color-deep-text: white;
$color-deep-text-secondary: rgb(189,193,195);

$color-primary: rgb(11, 144, 181);

$color-link-text: $color-primary;

$gutter: 2rem;
