<section class="ebook media">
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <img class="ebook-cover media-figure" src="/images/products/atfwd-cover-0.1.png" alt=""/>
  <div class="ebook-copy media-body">
    <h2 class="ebook-title">Hate manual browser testing?</h2>
    <p>Want to test your website across different browsers and devices, but hate the slog of checking by hand after every change? Why not get robot minions to do the work for you?</p>
    <p><strong>Buy the guide now and get the step-by-step guide to saving hours of drudgery!</strong></p>
    <div class="ebook-button-container">
      <a class="gumroad-button" href="https://gumroad.com/l/Dgbv">I want to get automating!</a>
    </div>
  </div>
</section>