<section class="ebook">
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <p class="ebook-preheading">Pre-order my guide to...</p>
  <img class="ebook-cover" src="/images/products/automated-testing-for-web-designers.png" alt=""/>
  <h2 class="ebook-title">Automated Testing for Web Designers</h2>
  <p>Want to test your website across different browsers, but hate the slog of checking by hand after every change? Why not get robot minions to do the work for you?</p>
  <p>Pre-order now and get the step-by-step guide for only $9!</p>
  <div class="ebook-button-container">
    <a class="gumroad-button" href="https://gumroad.com/l/Dgbv">I want to get automating!</a>
  </div>
</section>