<section class="ebook panel outside">
  <div class="ebook__container">
    <div class="ebook__copy">
      <h2 class="ebook__title">Hate manual browser testing?</h2>
      <p>Want to test your website across different browsers and devices, but hate the slog of checking by hand after every change?</p>
      <p class="ebook__em"><strong>Get my step-by-step guide to automating cross-browser design testing.</strong></p>
      <div class="ebook__button-container">
        <a class="button button--secondary" href="/automated-responsive-design-testing/">Learn more about the book</a>
      </div>
    </div>
    <div class="ebook__cover">
      <a href="/automated-responsive-design-testing/">
        <img class="ebook__cover-image" src="/images/landing/ardt-cover.png" alt="Automated Responsive Design Testing book cover"/>
      </a>
    </div>
  </div>
</section>
