<footer>
  <p class="tagline"><span>*</span> Good old-fashioned handcrafted web produce</p>
  <div class="portrait"><img src="/images/portrait.jpg" width="100" height="100" alt="Jim Newbery" /></div>
  <p>Tinned Fruit is inhabited by Jim Newbery, an independent web and mobile developer based in Edinburgh.</p>
  <p>You can find me on <a href="https://twitter.com/froots101">Twitter</a>, 
    <a href="https://github.com/froots">GitHub</a> and 
    <a href="http://zerply.com/froots/public">Zerply</a>, or pop me a message at <a href="mailto:james@tinnedfruit.com">james@tinnedfruit.com</a>.</p>
</footer>