<footer>
  <p class="tagline"><span>*</span> Good old-fashioned handcrafted web produce</p>
  <div class="portrait"><img src="/images/portrait.jpg" width="100" height="100" alt="Jim Newbery" /></div>
  <p>Tinned Fruit is inhabited by Jim Newbery, a web interface developer based in Edinburgh.</p>
  <p>You can find me on <a href="https://twitter.com/froots101">Twitter</a>, 
    <a href="https://github.com/froots">GitHub</a> and 
    <a href="http://uk.linkedin.com/in/jamesnewbery">LinkedIn</a>, or pop me a message at <a href="mailto:james@tinnedfruit.com">james@tinnedfruit.com</a>.</p>
</footer>

<aside class="archive">
  <h2>Archives by tag</h2>
  <ul>
    {% for tags in site.iterable.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags/{{ tags.name }}">{{ tags.name }}</a>
      </li>
    {% endfor %}
  </ul>
</aside>
