<div class="panel media outside">
  <div class="media__image">
    <img src="/images/consulting/laundry-list.png" class="media__logo" alt="">
  </div>
  <div class="media__content">
    <h2 class="panel__heading">Steal my front-end development checklist</h2>
    <p>Use this laundry list of activities and responsibilities to explore how your team does front-end development. It's the same one I use with my clients.</p>
    <div class="ck-mod ck-mod--naked">
      {% include convertkit.html formid="253199" %}
    </div>
    <p class="conditions">You'll get occasional emails about front-end development. Unsubscribe at any time.</p>
  </div>
</div>
