<div>
  <form action="//tinnedfruit.us11.list-manage.com/subscribe/post?u=2f6578b6cd56e236e05416cff&amp;id=c0f082ba3b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="field-group field-group--stacked">
      <label for="mce-EMAIL" class="field-group__label">Email Address</label>
      <input type="email" name="EMAIL" class="field-group__input" placeholder="me@myemail.com">
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2f6578b6cd56e236e05416cff_c0f082ba3b" tabindex="-1" value=""></div>
    <div class="buttons buttons-flow">
      <button type="submit" name="subscribe" class="button button-primary">Send me updates</button>
    </div>
  </form>
</div>
