<nav class="navigation">
  <ul class="navigation__list navigation__list--{{ include.placing | default: "right" }} navlist">
    <li class="navigation__item">
      <a href="/articles" class="navigation__link">Articles</a>
    </li>
    <li class="navigation__item">
      <a href="/automated-responsive-design-testing" class="navigation__link">Book</a>
    </li>
    <li class="navigation__item">
      <a href="/newsletter" class="navigation__link">Newsletter</a>
    </li>
    <li class="navigation__item">
      <a href="/contact" class="navigation__link">Contact</a>
    </li>
  </ul>
</nav>
