<nav class="navigation">
  <ul class="navigation__list navlist">
    <li class="navigation__item">
      <a href="/" class="navigation__link">Home</a>
    </li>
    <li class="navigation__item">
      <a href="/services" class="navigation__link">Services</a>
    </li>
    <li class="navigation__item">
      <a href="/newsletter" class="navigation__link">Newsletter</a>
    </li>
    <li class="navigation__item">
      <a href="/articles" class="navigation__link">Articles</a>
    </li>
    <li class="navigation__item">
      <a href="/contact" class="navigation__link">Contact</a>
    </li>
  </ul>
</nav>
