<div id="mc_embed_signup" class="subscribe">
  <form action="//tinnedfruit.us11.list-manage.com/subscribe/post?u=2f6578b6cd56e236e05416cff&amp;id=c0f082ba3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="subscribe__container">
      <div class="subscribe__copy subscribe__child">
        <h2 class="subscribe__heading">Enjoy the article?</h2>
        <p class="subscribe__text">Get my future articles on front end development, automated testing and happy teams delivered straight to your inbox</p>
      </div>
      <div class="subscribe__avatar subscribe__child">
        <img src="/images/main/avatar.jpg" alt="Jim Newbery" class="avatar subscribe__avatar-image">
      </div>
      <div class="subscribe__field subscribe__child mc-field-group field-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" class="required email subscribe__input" id="mce-EMAIL" placeholder="youremail@domain.com">
      </div>
      <div class="subscribe__field subscribe__child mc-field-group field-group">
        <label for="mce-FNAME">First Name</label>
        <input type="text" value="" name="FNAME" class="required subscribe__input" id="mce-FNAME" placeholder="">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_2f6578b6cd56e236e05416cff_c0f082ba3b" tabindex="-1" value="">
      </div>
      <div class="subscribe__child clear button-group">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
