{% assign title = "Join my daily mailing list" %}
{% if include.title %}
  {% assign title = include.title %}
{% endif %}
<div class="panel media outside">
  <div class="media__image">
    <img src="/images/consulting/laundry-list.png" class="media__logo" alt="">
  </div>
  <div class="media__content">
    <h2 class="panel__heading">{{ title }}</h2>
    <p>Sign up now and get my <em>Front-End Engineering Responsibilities Laundry List</em> PDF for free.</p>
    <div class="ck-mod ck-mod--naked">
      {% include convertkit.html formid="253199" %}
    </div>
    <p class="conditions">You'll get regular emails about front-end development. Unsubscribe at any time.</p>
  </div>
</div>
