$ebook-color: #81D6EC;

.ebook {
  background: lighten($ebook-color, 23%);
  border-top: 4px solid $ebook-color;
  margin: 2em 0;
  padding: 2em 1em;
}

.ebook-cover {
  display: block;
  margin: 0 10px;
  max-width: 320px;

  @include tablet {
    max-width: 240px;
  }
}

.ebook-title {
  margin-top: 0;
}

.ebook-button-container {
  margin-left: 15px;
  margin-right: 10px;
}
