$ebook-color: #81D6EC;

.ebook {
  background: lighten($ebook-color, 23%);
  border-top: 4px solid $ebook-color;
  margin: 3em 0 1em;
  padding: .2em 0 1em;
  text-align: left;
}

.ebook-preheading {
  color: #777;
  text-transform: uppercase;
}

.ebook-cover {
  width: 100%;

  @include tablet {
    float: left;
    max-width: 160px;
    margin-left: 16px;
    margin-right: 24px;
  }
}

.ebook-title {
  @include tablet {
    margin-bottom: 0;
  }
}

.ebook-button-container {
  text-align: center;
}
