.header {
  text-align: left;
  padding: 2em 1em 0;
  margin-bottom: 4em;

  @include tablet {
    padding-top: 0;
    @include transform(rotate(-5deg));
  }
}

.header-logo {
  @include block-shadow(2, $color-primary-dark);
  font-family: $font-display, sans-serif;
  font-size: 3.3em;
  line-height: 1;
  color: $color-primary;
  text-decoration: none;

  @include tablet {
    font-size: 4.5em;
    @include block-shadow(4, $color-primary-dark);
  }
}

.content {
  text-align: left;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  max-width: 40em;
  text-align: left;
  color: $color-light-text;
  margin: 2em auto;
  padding-top: 1em;
  padding-bottom: 1px;
}

.footer-sig {
  @include block-shadow(2, $color-primary-dark);
  color: $color-primary;
  font-family: $font-display;
  font-size: 4em;
  text-align: center;
  margin: 0;
}

.comments {
  text-align: left;
  margin: 1em $page-gutter;
}