.header {
  padding: 2em 1em 0;
  margin-bottom: 4em;
}

.header-logo {
  @include block-shadow(2, $color-primary-dark);
  font-family: $font-display, sans-serif;
  font-size: 3.3em;
  line-height: 1;
  color: $color-primary;
  text-decoration: none;
}

.content {
}

.footer {
  color: $color-light-text;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1px;
}

.footer-sig {
  @include block-shadow(2, $color-primary-dark);
  color: $color-primary;
  font-family: $font-display;
  font-size: 4em;
  text-align: center;
  margin: 0;
}

.comments {
  margin: 1em $page-gutter;
}