$page-gutter: 16px;

$color-primary: #FF7949;
$color-primary-dark: darken($color-primary, 20%);
$color-text: #555;
$color-light-text: #888;
$color-background: #FEF7F5;

$font-text: 'PT Sans', sans-serif;
$font-display: 'Rancho', sans-serif;