---
layout: landing
title: Automated Responsive Design Testing
description: Cross-browser testing is tedious! Automate your design and layout testing with this visual step-by-step guide.
launched: true
redirect_from:
  - /automated-testing-for-web-designers/
twitter_card:
  type: summary_large_image
  image: /images/landing/og-preview2.png
og_data:
  type: website
  image: /images/landing/og-preview2.png
---

<div class="launch-banner">
  <p class="launch-banner__text">24 hour discount ends at 8am ET on 12th October! <a href="#buy">Buy now</a></p>
</div>

<header class="container header">
  <div class="row">
    <h1>No more repetitive manual cross-browser testing</h1>
    <p class="header-intro">Do you want to get on with other stuff instead?</p>
    <div class="buttons">
      {% if page.launched %}
        <a href="#buy" class="button button-primary">Yes please!</a>
      {% else %}
        <a href="#signup" class="button button-primary">Yes please!</a>
      {% endif %}
    </div>
    <img class="header-book-cover" src="/images/landing/ardt-cover.png" alt="Automated Responsive Design Testing book cover">
  </div>
</header>

<div class="container intro">
  <div class="row">
    <p class="intro-text">Testing your websites across all the popular browsers and devices is <strong>tedious</strong>, <strong>slow</strong> and often <strong>expensive</strong>. There are 100 more useful things that you could be doing.</p>
    <p class="intro-text">But testing is important.</p>
  </div>
</div>

<div class="container section">
  <div class="row">
    <h2>Manual testing is getter harder</h2>
    <ul class="feature-list feature-list-narrow">
      <li>You are committed to <strong>high quality</strong> web designs that work across all the major browsers</li>
      <li>You use the latest <strong>responsive design</strong> techniques to provide a great experience for users of different devices</li>
      <li>You wish there was a <strong>better way to test</strong> that your designs work on popular devices and browsers</li>
    </ul>
    <p>How often have you manually tested your design only to find that your approach simply doesn't work on one of the major browsers?</p>
    <p>Sometimes this means having to change tack completely, or putting browser-specific hacks in place to work around the problem.</p>
  </div>
</div>

<div class="container section callout callout-light">
  <div class="row">
    <p class="callout-text">Manually testing on a wide range of devices and browsers takes a lot of <strong>time</strong>, <strong>expense</strong> and <strong>anguish</strong>.</p>
    <p class="callout-text">Wouldn't it be great to delegate away most of this tedium and overhead so you can focus on those 100 other more important things?</p>
    <div class="buttons buttons-flow">
      {% if page.launched %}
        <a href="#buy" class="button button-primary">Buy the ebook</a>
      {% else %}
        <a href="#signup" class="button button-primary">Keep me updated</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row section">
    <h2>Automate!</h2>
    <p>With some upfront time investment, automating your cross-browser layout testing can <strong>pay off handsomely</strong> over the course of a project.</p>
    <p>There are now tools that can test your layouts in a wide range of browsers and devices for you.</p>
    <p>Automated testing tools can:</p>
    <ul>
      <li>be set up to run tests <strong>on demand</strong>, or <strong>automatically</strong> when code changes</li>
      <li><strong>test responsive designs</strong>, so that you can set different expectations at different screen dimensions</li>
      <li>run all these tests <strong>in the cloud</strong> so you don't need to run your own expensive device laboratory</li>
    </ul>
  </div>
  <hr/>
  <div class="row section">
    <h2>Benefits</h2>
    <p>By automating such a big chunk of work, you may see some of these benefits:</p>
    <ul>
      <li>Save many, many hours over the course of your project</li>
      <li>Reduce the amount of time you spend maintaining test browsers and devices</li>
      <li>Colleagues, clients or managers will think you are a magician</li>
      <li>You and your team will be more motivated to fix bugs</li>
      <li>Your design process can change for the better, by embracing testing earlier</li>
      <li>Take an incremental approach to quality</li>
    </ul>
    <p>This visual step-by-step guide will <strong>help you to set up an automated testing system</strong>, write your own test specs, and start changing how you work for the better.</p>
    <div class="buttons buttons-flow">
      {% if page.launched %}
        <a href="#buy" class="button button-primary">Buy the ebook</a>
      {% else %}
        <a href="#signup" class="button button-primary">Keep me updated</a>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row section">
    <h2>What’s inside</h2>
    <div class="column-container">
      <div class="column-left">
        <ul class="feature-list">
          <li>an in-depth, step-by-step guide to testing your designs across multiple web browsers at multiple screen sizes automatically, using Galen Framework</li>
          <li>how automating your cross-browser testing can save you time and grief</li>
          <li>discover different types of design testing and work out which are best for your projects</li>
          <li>a comparative evaluation of available testing tools</li>
          <li>find out how to set up your projects so they are testable</li>
        </ul>
      </div>
      <div class="column-right">
        <ul class="feature-list">
          <li>how to run your test suite in the cloud on browser testing tools like <a href="https://saucelabs.com/">Sauce Labs</a> or <a href="https://www.browserstack.com">BrowserStack</a></li>
          <li>learn how to test complex responsive layouts and interactive components</li>
          <li>a guide to running your tests automatically whenever anyone on the team commits code, or every night</li>
          <li>how to run your tests using popular task runners like Grunt and Gulp</li>
          <li>advice on how to manage large projects with large test suites</li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
</div>

<div class="container section">
  <div class="row">
    <blockquote class="testimonial testimonial--left">
      <div class="portrait testimonial-portrait">
        <img src="/images/landing/testimonial-robbie-manson.jpg" alt="Robbie Manson" class="portrait-image">
      </div>
      <div class="testimonial-body">
        <div class="testimonial-quote">
          <p class="testimonial-copy">Jim not only guides you step-by-step through getting started with automated testing, but perfectly outlines why it’s so valuable, and how to use it responsibly.</p>
        </div>
        <footer class="testimonial-footer">
          <cite class="testimonial-citation">— <a class="testimonial-link" href="http://robbiemanson.com/">Robbie Manson</a>, Product Designer, Facebook</cite>
        </footer>
      </div>
    </blockquote>
  </div>

  <div class="row">
    <blockquote class="testimonial testimonial--right">
      <div class="portrait testimonial-portrait">
        <img src="/images/landing/testimonial-orde-saunders.png" alt="Orde Saunders" class="portrait-image">
      </div>
      <div class="testimonial-body">
        <div class="testimonial-quote">
          <p class="testimonial-copy">Testing is the foundation of maintainable code but with responsive websites the number of permutations can make testing seem impractical.</p>
          <p class="testimonial-copy">“In Automated Responsive Design Testing you’ll find pragmatic advice that will allow you to build and grow websites with confidence.</p>
        </div>
        <footer class="testimonial-footer">
          <cite class="testimonial-citation">— <a class="testimonial-link" href="https://decadecity.net/">Orde Saunders</a>, Web Development Consultant, Decade City</cite>
        </footer>
      </div>
    </blockquote>
  </div>

  <div class="row">
    <blockquote class="testimonial testimonial--left">
      <div class="portrait testimonial-portrait">
        <img src="/images/landing/testimonial-daniel-furze.jpg" alt="Daniel Furze" class="portrait-image">
      </div>
      <div class="testimonial-body">
        <div class="testimonial-quote">
          <p class="testimonial-copy"><em>Automated Responsive Design Testing</em> is an extremely clear, well-written book both for those with no experience of testing and for veterans on the subject.</p>
          <p class="testimonial-copy">“It helped me convince my team of the benefits of integrating testing into our workflow and we've not looked back since.</p>
        </div>
        <footer class="testimonial-footer">
          <cite class="testimonial-citation">— <a class="testimonial-link" href="http://danielfurze.co.uk/">Daniel Furze</a>, Front-End Development Consultant</cite>
        </footer>
      </div>
    </blockquote>
  </div>
</div>

{% if page.launched %}
  <div class="container callout callout-dark callout-buy" id="buy">
    <div class="row">
      <h2>Get your copy now</h2>
      <div class="column-container">
        <div class="column-left book-container">
          <img class="book-cover" src="/images/landing/ardt-cover.png" alt="Automated Responsive Design Testing book cover">
        </div>
        <div class="column-right">
          <div class="buttons buttons-flow">
            <a href="https://gumroad.com/l/Dgbv" class="button button-primary button-priced">
              <span class="button-priced-price"><span class="button-priced-discounted">$39</span> $24</span>
              <span class="button-priced-label">Buy now</span>
            </a>
          </div>
          <div class="discount-countdown-container"></div>
          <ul class="feature-list">
            <li>172 pages of practical advice and step-by-step instructions</li>
            <li>30 days money back guarantee</li>
            <li>Free source code and working example project to get started with straight away</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% else %}
  {% include convertkit/ardt-landing.html %}
{% endif %}

<div class="container">
  <div class="row section">
    <h2>About the author</h2>
    <div class="portrait">
      <img src="/images/landing/portrait.jpg" alt="Jim Newbery" class="portrait-image">
    </div>
    <p class="intro-text">My name is Jim Newbery. I'm a front end engineering consultant from Edinburgh in sunny Scotland.</p>
    <p>I've been creating websites and web applications for twenty years, and in that time I've learned a lot from countless colleagues and friends. I like to give back by helping others learn from my experience.</p>
    <p>You can follow me on Twitter <a href="https://twitter.com/froots101">@froots101</a> or <a href="/">read my blog</a>.</p>
  </div>
  <hr/>
  <div class="row section">
    <h2>Full table of contents</h2>
    <h3 class="toc-heading">Part I: Design testing</h3>
    <ol class="toc-list">
      <li class="toc-item">Why automate design testing?</li>
      <li class="toc-item">Types of design test</li>
      <li class="toc-item">Which tools to use</li>
      <li class="toc-item">Testing in the cloud</li>
      <li class="toc-item">Continuous integration</li>
    </ol>
    <h3 class="toc-heading">Part II: Step-by-step guide</h3>
    <ol class="toc-list">
      <li class="toc-item">What you'll need</li>
      <li class="toc-item">A simple search component</li>
      <li class="toc-item">Our first test spec</li>
      <li class="toc-item">Expanding the spec</li>
      <li class="toc-item">Running a suite of specs</li>
      <li class="toc-item">Visual regression testing</li>
      <li class="toc-item">Running specs in different browsers</li>
      <li class="toc-item">Testing responsive designs</li>
      <li class="toc-item">Testing a page layout</li>
      <li class="toc-item">Using variables for common values</li>
      <li class="toc-item">JavaScript enhancement</li>
      <li class="toc-item">Adding user interactions</li>
      <li class="toc-item">Running tests in the cloud</li>
      <li class="toc-item">Setting up continuous integration</li>
      <li class="toc-item">CI with headless browsers</li>
      <li class="toc-item">CI with cloud testing services</li>
      <li class="toc-item">Saving test reports</li>
      <li class="toc-item">Keeping tests fast</li>
    </ol>
  </div>
</div>
