.about {
  @include tablet {
    @include media-object;
  }
}

.about__avatar {
  margin-bottom: 1.4rem;
  width: 128px;

  @include bigphone {
    width: 172px;
  }

  @include tablet {
    @include media-figure($page-gutter);
  }
}

.about__content {
  @include tablet {
    @include media-body;
  }
}

.about__intro {
  font-size: 1.25rem;
}
