html {
  box-sizing: border-box;
  color: $color-text;
  font-family: $font-text;
  font-weight: normal;
  font-size: 16px;
  padding: $page-gutter-small $page-gutter-small 0;
  text-align: center;

  @include bigphone {
    font-size: 1.125em;
    padding: $page-gutter $page-gutter 0;
  }

  @include tablet {
    font-size: 1.3125em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid $color-text;
  margin: 1.4rem auto;
  width: 10rem;
}

h1 {
  font-family: $font-display;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -.3px;
  line-height: 1.41;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;

  @include bigphone {
    font-size: 1.778rem;
  }
}

h2 {
  font-family: $font-display;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.41;

  margin-top: 2.1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: $base-line-height;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0;
  line-height: $base-line-height;
}

p {
  margin-top: 0;
  margin-bottom: .7rem;
  line-height: $base-line-height;
}

blockquote {
  margin-left: $page-gutter-small;
  margin-right: $page-gutter-small;

  > p {
    margin: 0;
    font-style: italic;
  }

  @include bigphone {
    margin-left: $page-gutter;
    margin-right: $page-gutter;
  }
}

a {
  color: $color-primary;
}

pre {
  font-family: $font-monospace;
  line-height: $base-line-height;
  overflow-x: auto;
}

ul, ol {
  padding-left: 2rem;
}

li {
  line-height: $base-line-height;
}

li > p {
  margin: 0;
}

pre, code, kbd, samp {
  font-family: $font-monospace;
  font-size: .85rem;
}

p, li {
  > code, kbd, samp {
    background: $color-background;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

table {
  margin: 1.4rem (-$page-gutter-small);
  overflow: auto;
  overflow-x: auto;
  border-collapse: collapse;
  width: calc(100% + #{2 * $page-gutter-small});
}

th, td {
  border-bottom: 1px solid $color-light-border;
  padding: .4rem $page-gutter-small;
  text-align: left;
}

th {
  align: center;
  vertical-align: bottom;
}

dl,
dt,
dd {
  line-height: $base-line-height;
}
