.button {
  background: white;
  border: 1px solid $color-primary;
  border-left-width: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
  color: $color-primary-dark;
  display: inline-block;
  padding: .7rem 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  width: 100%;

  @include tablet {
    width: auto;
  }

  &:hover {
    background: $color-primary;
    border-left-color: $color-primary-dark;
    border-left-width: 10px;
    color: white;
  }
}

.button-secondary {
  border-color: $color-secondary;
  color: $color-secondary-dark;

  &:hover {
    background-color: $color-secondary;
    border-left-color: $color-secondary-dark;
    color: white;
  }
}
