.clients-list {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  list-style: none;
  padding-left: 0;
}

.clients-list__item {
  margin: .7rem;
}

.clients-list__logo {
  height: 30px;
  filter: grayscale(100%) opacity(50%);
}

.clients-list__link:hover > .clients-list__logo {
  filter: inherit;
}
