// Minimal

.ck_form.ck_minimal {
  border: 8px solid $color-secondary-dark !important;
  background: #fff !important;
  font-family: inherit !important;
  font-size: inherit !important;

  h3.ck_form_title {
    font-family: $font-display !important;
  }

  .ck_subscribe_button {
    background-color: $color-secondary-dark !important;
    padding-top: 5px !important;
  }
}

// Full

.ck_form.ck_vertical_subscription_form {
  border-top-color: $color-secondary-dark !important;
  border-bottom-color: $color-secondary-dark !important;
  background: #fff !important;
  font-family: inherit !important;
  font-size: inherit !important;

  .ck_subscribe_button {
    background-color: $color-secondary-dark !important;
    padding-top: 6px !important;
  }

  .ck_image {
    margin-right: 1rem !important;
  }

  .ck_form_content p {
    font-size: .75rem !important;
  }
}
