.ebook {
  background: $color-secondary-light;
  border-top: 4px solid $color-secondary;
  margin: 0;
  padding: 2em 1em;
  text-align: center;

  @include tablet {
    padding: 2em;
  }
}

.ebook-cover {
  display: block;
  margin: 0 auto 2em;
  max-width: 200px;
  width: 100%;

  @include tablet {
    margin-bottom: 0;
    margin-right: 2em;
    width: 200px;
  }
}

.ebook-copy {
  @include tablet {
    text-align: left;

    & > h2,
    & > p {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.ebook-title {
  margin-top: 0;
}

.ebook-button-container {
}
