$color-ebook-background: $color-mirage;

.ebook {
  background-color: $color-ebook-background;
  background-image: url(/images/main/cogs.svg);
  background-position: left 50% bottom 20px;
  background-repeat: no-repeat;
  background-size: 800px;
  color: white;
  overflow: hidden;
}

.ebook__container {
  @include flexbox;
  @include flex-flow(row wrap);

  @include tablet {
    margin-left: -$page-gutter/2;
    margin-right: -$page-gutter/2;
  }
}

.ebook__copy {
  @include flex(0 1 100%);

  @include tablet {
    @include flex(0 1 60%);
    max-width: 60%;
    padding-left: $page-gutter/2;
    padding-right: $page-gutter/2;
  }

  @include full {
    @include flex(0 1 67%);
    max-width: 67%;
  }
}

.ebook__cover {
  @include flex(0 1 75%);
  @include transform(rotate(3deg));

  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  position: relative;
  top: 3rem;

  @include tablet {
    @include flex(0 1 40%);
    @include transformnone;
    margin-bottom: 0;
    max-width: 40%;
    padding-left: $page-gutter/2;
    padding-right: $page-gutter/2;
    top: 0;
    width: auto;
  }

  @include full {
    @include flex(0 1 33%);
    max-width: 33%;
  }
}

.ebook__cover-image {
  width: 100%;
}

.ebook__title  {
  color: $color-secondary-light;
  margin-top: 0;
}

.ebook__button-container {
  margin-top: 1.5rem;
}
