.entry__title {
  margin-bottom: .7rem;
}

.entry__updated {
  display: block;
  font-family: $font-display;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 1.4rem;
  text-align: center;
}

.entry__divider {
  border: 0;
  border-bottom: 1px solid $color-text;
  margin-bottom: 1.4rem;
  width: 10rem;
}
