.entry {
  margin-bottom: 4rem;
}

.entry__title {
  margin-bottom: 1.4rem;
}

.entry__subtitle {
  display: block;
  font-size: 1.25rem;
  font-style: italic;
}

.entry__updated {
  display: block;
  font-family: $font-display;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 1.4rem;
  text-align: center;
}

.entry__intro__text,
.entry__content > p:first-of-type {
  font-size: 1.25rem;
  margin-bottom: 1.4rem;
}

.entry__author {
  text-align: center;
}

.entry__avatar {
  display: inline-block;
  margin-right: $page-gutter-small/2;
  width: 32px;
  vertical-align: middle;

  @include tablet {
    width: 48px;
  }
}

.entry__author-container {
  display: inline-block;
  vertical-align: middle;
}

.entry__author-link {
  text-decoration: none;
}
