.footer {
  position: relative;
  background: #f9f9f9;
  margin-top: 5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

  margin-left: -$page-gutter-small;
  margin-right: -$page-gutter-small;
  padding-left: $page-gutter-small;
  padding-right: $page-gutter-small;

  @include bigphone {
    margin-left: -$page-gutter;
    margin-right: -$page-gutter;
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.footer-logo {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  margin-left: -1.5rem;

  @include bigphone {
    top: -2rem;
    margin-left: -2rem;
  }
}

.footer__company {
  font-size: .75rem;
}
