.footer {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.footer__logo {
  left: 50%;
  margin-left: -$logo-size-1/2;
  position: absolute;
  top: -$logo-size-1/2;

  @include tablet {
    top: -$logo-size-2/2;
    margin-left: -$logo-size-2/2;
  }
}

.footer__navigation {
  margin-bottom: $measure;
  padding-top: 2*$measure;
}

.footer__contents {
  font-size: .75rem;
}

