label {
  color: $color-light-text;
  display: block;
  font-size: 0.875em;
  line-height: $base-line-height;
  margin: 0 $page-gutter .3em;
  text-transform: uppercase;

  @include full {
    margin-left: 0;
    margin-right: 0;
  }
}

input[type=text],
input[type=email] {
  border: 2px solid $color-light-border;
  border-width: 2px 0;
  padding: .8em $page-gutter;
  width: 100%;

  @include full {
    border-width: 2px;
  }
}

.field-group,
.button-group {
  margin-bottom: #{$base-line-height}em;
}

.field-group {
  @include full {
    margin-left: $page-gutter;
    margin-right: $page-gutter;
  }
}

.button-group {
  margin-left: $page-gutter;
  margin-right: $page-gutter;
}

.button {
  background: white;
  border: 1px solid $color-primary;
  border-left-width: 6px;
  border-radius: 6px;
  color: $color-primary;
  padding: .8em 1em;
  transition: all 0.1s ease-in-out;
  width: 100%;

  @include tablet {
    width: auto;
  }
}

.button:hover {
  background: $color-primary;
  border-left-color: $color-primary-dark;
  border-left-width: 10px;
  color: white;
}

