.media {
  @include tablet {
    display: flex;
    align-items: flex-start;
  }
}

.media__figure {
  @include tablet {
    margin-right: 2em;
  }
}

.media__body {
  @include tablet {
    flex: 1;
  }
}
