.navigation__list {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
}

.navigation__list .navigation__item {
  margin-left: $page-gutter-small/4;
  margin-right: $page-gutter-small/4;

  @include bigphone {
    margin-left: $page-gutter-small/2;
    margin-right: $page-gutter-small/2;
  }

  @include tablet {
    margin-left: $page-gutter/2;
    margin-right: $page-gutter/2;
  }
}

.navigation__link {
  text-decoration: none;
}
