.newsletter-signup {
  background: $color-secondary-light url(/images/main/airmail-background.svg) 0 0 repeat-x;
  margin-left: -$page-gutter-small;
  margin-right: -$page-gutter-small;
  padding: 3.5rem $page-gutter-small 1.5rem;

  @include bigphone {
    margin-left: -$page-gutter;
    margin-right: -$page-gutter;
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.newsletter-signup__container {
  @include tablet {
    margin-left: -$page-gutter/2;
    margin-right: -$page-gutter/2;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
  }
}

.newsletter-signup__panel {
  @include tablet {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: $page-gutter/2;
    padding-right: $page-gutter/2;
  }
}

.newsletter-signup__heading {
  margin-top: 0;
}
