.subscribe {
  background: $color-secondary-light url(/images/main/airmail-background.svg) 50% 0 repeat-x;
  margin-left: -$page-gutter-small;
  margin-right: -$page-gutter-small;
  padding: 3.5rem $page-gutter-small 1.5rem;

  @include bigphone {
    margin-left: -$page-gutter;
    margin-right: -$page-gutter;
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.subscribe__container {
  @include flexbox;
  -webkit-flex-flow: row wrap;
  margin-left: -$page-gutter-small/2;
  margin-right: -$page-gutter-small/2;

  @include bigphone {
    margin-left: -$page-gutter/2;
    margin-right: -$page-gutter/2;
  }
}

.subscribe__child {
  padding-left: $page-gutter-small/2;
  padding-right: $page-gutter-small/2;

  @include bigphone {
    padding-left: $page-gutter/2;
    padding-right: $page-gutter/2;
  }
}

.subscribe__copy {
  @include flex(1 0 66.66%);
}

.subscribe__avatar {
  @include flex(0 1 33.33%);
  max-width: 128px;
}

.subscribe__field {
  @include flex(0 0 100%);

  @include tablet {
    @include flex(0 0 50%);
    max-width: 50%;
  }
}

.subscribe__heading {
  margin-top: 0;
}

input.subscribe__input {
  border-width: 0;
}
