.panel {
  background-color: $color-background;
  margin-top: $measure;
  margin-bottom: $measure;
  padding: $measure $page-gutter-small $measure/2;

  @include bigphone {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.panel--dark {
  background-color: $color-inverse-background;
  color: $color-inverse-text;
}

.panel__heading {
  margin-top: 0;
}

.panel--dark > .panel__heading {
  color: $color-secondary-light;
}
