.panel {
  background-color: $color-background;
  margin-top: $measure;
  margin-bottom: $measure;
  padding: $measure $page-gutter-small $measure/2;

  @include bigphone {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.panel__heading {
  margin-top: 0;
}
