.panel {
  background-color: $color-background;
  margin-top: $measure;
  margin-bottom: $measure;
  padding: $measure $page-gutter-small $measure/2;

  @include bigphone {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
}

.panel__heading {
  margin-top: 0;
}

.panel--media {
  @include tablet {
    @include media-object;
  }
}

.panel--media__image {
  margin-bottom: $measure;
  @include tablet {
    @include media-figure($page-gutter);
  }
}

.panel--media__content {
  @include tablet {
    @include media-body;
  }
}
