.subsection {
  color: $color-light-text;
  font-family: $font-text;
  font-size: .8rem;
  font-weight: normal;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  font-size: 1.25rem;
}
