.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mtb,
.mtb1 {
  margin-top: $measure;
  margin-bottom: $measure;
}

.mtb2 {
  margin-top: $measure * 2;
  margin-bottom: $measure * 2;
}

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.measure--narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
}

.outside {
  margin-left: -$page-gutter-small;
  margin-right: -$page-gutter-small;

  @include bigphone {
    margin-left: -$page-gutter;
    margin-right: -$page-gutter;
  }
}

.media {
  @include tablet {
    @include media-object;
  }
}

.media__image {
  margin-bottom: $measure;
  @include tablet {
    @include media-figure($page-gutter);
  }
}

.media__content {
  @include tablet {
    @include media-body;
  }
}

.media__logo {
  width: 140px;
}
