$page-gutter-small: 16px;
$page-gutter: 2 * $page-gutter-small;
$container-max-width: 42rem;

// Named colours

$color-punch-red: #DB3232; // deep red
$color-sunset-orange: #FC4444; // light red
$color-picton-blue: #46C7F2; // light blue
$color-curious-blue: #1EA8D6; // deep blue
$color-fair-pink: #FFE8E8; // very light red
$color-onahau: #C4F0FF; // very light blue
$color-tundora: #444; // Charcoal

$color-primary: $color-sunset-orange;
$color-primary-dark: $color-punch-red;
$color-primary-light: $color-fair-pink;

$color-secondary: $color-picton-blue;
$color-secondary-dark: $color-curious-blue;
$color-secondary-light: $color-onahau;

$color-text: $color-tundora;
$color-light-text: #888;
$color-light-border: #888;
$color-background: $color-secondary-light;

$font-text: 'Source Sans Pro', sans-serif;
$font-display: 'Merriweather', serif;
$font-monospace: 'Fira Mono', monospace;

$base-line-height: 1.5;

$mq-bigphone: 400px;
$mq-tablet: 640px;
$mq-full: $container-max-width;
