$page-gutter-small: 16px;
$page-gutter: 2 * $page-gutter-small;
$container-max-width: 40rem;

// Named colours

$color-punch-red: #DB3232;
$color-sunset-orange: #FC4444;
$color-picton-blue: #46C7F2;
$color-curious-blue: #1EA8D6;
$color-fair-pink: #FFE8E8;
$color-onahau: #C4F0FF;
$color-tundora: #444;
$color-mirage: #1C2B31;

$color-primary: $color-sunset-orange;
$color-primary-dark: $color-punch-red;
$color-primary-light: $color-fair-pink;

$color-secondary: $color-picton-blue;
$color-secondary-dark: $color-curious-blue;
$color-secondary-light: $color-onahau;

$color-text: $color-tundora;
$color-light-text: #888;
$color-light-border: #888;
$color-vlight-border: #ccc;
$color-background: $color-secondary-light;

$color-error: $color-punch-red;
$color-success: $color-curious-blue;

$font-text: 'Source Sans Pro', sans-serif;
$font-display: 'Merriweather', serif;
$font-monospace: 'Fira Mono', monospace;

$base-line-height: 1.5;

$mq-bigphone: 400px;
$mq-tablet: 640px;
$mq-full: 800px;
