---
layout: page
title: Front-end coaching and consulting services
description: >-
  I help B2B SaaS product teams build incredible web apps
nohireme: true
twitter_card:
  type: summary
  image: /images/consulting/card.jpg
og_data:
  image: /images/consulting/card.jpg
---

<h1>Services</h1>

<hr>

<p class="intro">My <a href="#consulting-services">consulting</a> and <a href="#coaching-services">coaching</a> services are available as guaranteed, low-risk, fixed-price packages. That way you know exactly what you're getting up front.</p>

<p>For a limited time, you can start with a <strong>100% free</strong> consultation call.</p>

<p>If you're not sure what service you need, <a href="/contact/">get in touch</a> and we'll work something out. </p>

<p>All prices are exclusive of VAT.</p>

<hr>

<h2 id="consulting-services">Consulting Services</h2>

{% assign consulting_services = site.services | where:'category','consulting' | sort:'price.amount' %}
{% for service in consulting_services %}
  {% assign content = service.content | strip_newlines %}
  <div class="mtb2">
    <h3>{{ service.title }}</h3>
    <p>{{ service.summary }}</p>
    <p>
      <em>{{ service.price.label }}</em>.
      {% if content == '' %}
        <a href="{{ service.cta.url }}">{{ service.cta.label }}</a>
      {% else %}
        <a href="{{ service.url }}">Find out more</a>
      {% endif %}
    </p>
  </div>
{% endfor %}

<hr>

<h2 id="coaching-services">Coaching Services</h2>

{% assign coaching_services = site.services | where:'category','coaching' | sort:'price.amount' %}
{% for service in coaching_services %}
  {% assign content = service.content | strip_newlines %}
  <div class="mtb2">
    <h3>{{ service.title }}</h3>
    <p>{{ service.summary }}</p>
    <p>
      <em>{{ service.price.label }}</em>.
      {% if content == '' %}
        <a href="{{ service.cta.url }}">{{ service.cta.label }}</a>
      {% else %}
        <a href="{{ service.url }}">Find out more</a>
      {% endif %}
    </p>
  </div>
{% endfor %}

<hr>

{% include default-optin.html title="Not ready for my services yet?" %}
