---
layout: page
title: Mailing list
description: >-
  Occasional writing and monthly newsletter by Jim Newbery.
---

<h1>Mailing list</h1>

<hr>

<div>
  <p class="intro">Sign up for my occasional writing and monthly link newsletter, Tinned Fruit Missives.</p>

  {% include newsletter-optin.html %}

  <hr />

  <h2>Tinned Fruit Missives archive</h2>

  {% assign years = site.newsletter | sort: 'date' | group_by_exp: 'e', 'e.date | date: "%Y"' | reverse %}

  <div class="card-list">
    {% for year in years %}
      <div class="card-list__item card-list__item--5up">
        <h4>{{ year.name }}</h4>

        <ol class="post-list">
          {% assign editions = year.items | reverse %}
          {% for edition in editions %}
            <li class="post-list__item">
              <a href="{{ edition.url }}" class="post-list__link">
                {{ edition.date | date: '%B' }}
              </a>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endfor %}
  </div>

</div>
