<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    {% for stylesheet in page.css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
    {% endfor %}
    <link href="http://feeds.feedburner.com/tinnedfruit" rel="alternate" title="Tinned Fruit" type="application/atom+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="theme-color" content="#46C7F2">
    {% include social-metadata.html %}
    <script>
      // GTM
      dataLayer = [];
      // Fonts
      WebFontConfig = {
        google: {
          families: [
            'Merriweather:700,400,400italic:latin',
            'Source+Sans+Pro:400,700,400italic:latin',
            'Fira+Mono:400:latin'
          ]
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/{{ site.webfont_version }}/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </head>
  <body>
    {% include gtm.html %}
    <header class="header">
      <a href="/" class="logo-link">
        {% include logo.html %}
      </a>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer class="footer">
      <div class="footer-logo">
        <a href="/" class="logo-link logo-link--footer">
          {% include logo.html %}
        </a>
      </div>
      <p class="footer__description">{{ site.description }}</p>
      <p class="footer__social">You can find me on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> and
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>, or pop me a message at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
    </footer>
  </body>

  <script src="/js/optin-analytics.js" async></script>
  <script src="/js/share-analytics.js" async></script>
</html>
