<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="http://feeds.feedburner.com/tinnedfruit" rel="alternate" title="Tinned Fruit" type="application/atom+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="Tinned Fruit">
    <meta name="application-name" content="Tinned Fruit">
    <meta name="theme-color" content="#46C7F2">
    <script>
      WebFontConfig = {
        google: {
          families: [
            'Merriweather:700,400,400italic:latin',
            'Source+Sans+Pro:400,700,400italic:latin',
            'Fira+Mono:400:latin'
          ]
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/{{ site.webfont_version }}/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo-link">
        {% include logo.html %}
      </a>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer class="footer">
      <div class="footer-logo">
        <a href="/" class="logo-link logo-link--footer">
          {% include logo.html %}
        </a>
      </div>
      <p class="footer__description">{{ site.description }}</p>
      <p class="footer__social">You can find me on <a href="https://twitter.com/froots101">Twitter</a> and
        <a href="https://github.com/froots">GitHub</a>, or pop me a message at <a href="mailto:james@tinnedfruit.com">james@tinnedfruit.com</a>.</p>
    </footer>
    {% include ga.html %}
  </body>
</html>
