<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="http://feeds.feedburner.com/tinnedfruit" rel="alternate" title="Tinned Fruit" type="application/atom+xml">
    <script>
      WebFontConfig = {
        google: { families: [ 'Merriweather:400,400italic:latin', 'Source+Sans+Pro:400,700,400italic:latin' ] }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/{{ site.webfont_version }}/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo-link">
        {% include logo.html %}
      </a>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer class="footer">
      <div class="footer-sig">tf</div>
      <p>{{ site.description }}</p>
      <p>You can find me on <a href="https://twitter.com/froots101">Twitter</a> and
        <a href="https://github.com/froots">GitHub</a>, or pop me a message at <a href="mailto:james@tinnedfruit.com">james@tinnedfruit.com</a>.</p>
    </footer>
    {% include ga.html %}
  </body>
</html>
