{% capture title %}{{ page.title | default: site.title }}{% if page.subtitle %} – {{ page.subtitle }}{% endif %}{% endcapture %}
<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include social-metadata.html %}
    <link rel="stylesheet" href="/css/landing.css">
    <script type="text/javascript">
      // GTM
      dataLayer = [];
      // Fonts
      WebFontConfig = {
        google: { families: [ 'Merriweather:400,700,400italic:latin', 'Montserrat:400:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
    {% include gtm.html %}
    <div class="landing-content">
      {{ content }}
    </div>
    {% if page.launched %}
      <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
    {% endif %}
    <script src="/js/optin-analytics.js" async></script>
  </body>
</html>
