<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      {{ site.title }}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/landing.css">
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Merriweather:400,700,400italic:latin', 'Oswald::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
    <div class="landing-content">
      {{ content }}
    </div>
    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
    {% include ga.html %}
  </body>
</html>
