---
layout: default
---

<article class="hentry entry">
  <h1 class="entry__title">{{ page.title }}</h1>
  <time class="entry__updated" datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>
    <span class="entry__updated__date">{{ page.date | date: "%-d" }}</span>
    <span class="entry__updated__month">{{ page.date | date: "%B"}}</span>
    <span class="entry__updated__year">{{ page.date | date: "%Y" }}</span>
  </time>
  <hr class="entry__divider" />
  <div class="entry__content">
    {{ content }}
  </div>
</article>

{% case page.promo %}
  {% when 'ardt' %}
    {% include convertkit/ardt-free-chapter.html %}
  {% else %}
    {% include convertkit/generic-article.html %}
{% endcase %}
